<body>
    <div id="content">
    
        <label for="thefile" class="file"> Upload an audio file
            <input type="file" id="thefile" accept="audio/*" />
        </label>
        <!-- <label class="search"> Search on Spotify
            <div onclick="window.location.href = './search.html';"
                type="submit" value=""></div>
        </label> -->
        <audio id="audio" controls></audio>
        <div id="out"></div>
    </div>
</body>    